@page "{databaseId}"
@model CategoriesModel
@{
    ViewData["Title"] = "Categories";
}
@*<h2>@ViewData["Title"]</h2>*@
<h4>Database @Model.DatabaseId</h4>
<h3>@Model.Message</h3>

<a asp-page="Databases/Index">< Back to databases</a>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Categories)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model.Categories)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => category)
                </td>
                <td>
                    <a asp-page="/StreamKeys" asp-route-databaseId="@Model.DatabaseId" asp-route-category="@category">Details</a> |
                </td>
            </tr>
        }
    </tbody>
</table>