@page "{databaseid}"
@model StreamKeysModel
@{
    ViewData["Title"] = $"Stream keys in category";
}

<h4>Database @Model.DatabaseId</h4>
@*<h2>@ViewData["Title"]</h2>*@
<h3>@Model.Message</h3>

<a asp-page="/Categories" asp-route-databaseId="@Model.DatabaseId">< Back to @Model.DatabaseId</a>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StreamKeys)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var streamKey in Model.StreamKeys)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => streamKey)
                </td>
                <td>
                    <a asp-page="/Stream" asp-route-databaseId="@Model.DatabaseId" asp-route-streamKey="@streamKey" >Details</a> |
                </td>
            </tr>
        }
    </tbody>
</table>